body {
  text-align:center;
  background-color:#eee;
  font-family:helvetica;
  font-weight:200;
  color:#580000;
}

h1 {
  text-decoration:underline;
}

#jah {
  font-family: Comic Sans, Comic Sans MS;
}
  
