body {
  text-align:center;
  background-color:#eee;
  font-family: Steiner; src: url('http://www.mediafont.com/storage/contents/10293/font.eot'); /* IE */ src: local('Steiner'), url('http://www.mediafont.com/storage/contents/10293/Steinerlight.ttf'); /* non-IE */;
  font-weight:200;
}

h1 {
  text-decoration:underline;
}

#jah {
  font-family: Comic Sans, Comic Sans MS;
}
  
